# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitattributes
!/.gitignore
!/checkstyle.xml
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle

!/access-widener-javaparser/src
!/access-widener-javaparser/build.gradle